[submodule "Tweaks/Alderis"]
	path = Tweaks/Alderis
	url = https://github.com/hbang/Alderis
[submodule "Tweaks/iSponsorBlock"]
	path = Tweaks/iSponsorBlock
	url = https://github.com/Galactic-Dev/iSponsorBlock
[submodule "Tweaks/YouTubeX"]
	path = Tweaks/YouTubeX
	url = https://github.com/PoomSmart/YouTube-X
[submodule "Tweaks/DontEatMyContent"]
	path = Tweaks/DontEatMyContent
	url = https://github.com/therealFoxster/DontEatMyContent
[submodule "Tweaks/ReturnYouTubeDislikesDD"]
	path = Tweaks/ReturnYouTubeDislikesDD
	url = https://github.com/PoomSmart/Return-YouTube-Dislikes
